$font-dm-sans: 'DM Sans';
$font-inter: 'Inter';

$color-white: white;
$color-pioneer-red: #D50128;
$color-pioneer-1: #930014;
$color-pioneer-4: #FFA1A4;
$color-lunar-black: #383838;
$color-lunar-gray: #757575;
$color-lunar-3: #F4F4F4;
$color-lunar-white: linear-gradient(180deg, #F4F4F4 0%, #FFFFFF 100%);
$color-middle-grey: #DADCE0;
$color-primary-1: #31343D;
$color-secondary-3: #CBCBCB;



